.App {
  text-align: center;
  background: linear-gradient(to bottom right, #0CEBEB 0%, #20E3B2 50%,#29FFC6 100%);
  width: 100vw;
  height: 100vh;
   display: flex; 
   justify-content: center;
   align-items: center;
  color: white;
  flex-direction: column;
}

body {
  padding: 0%;
  margin: 0;
}
.text{
    display: flex;
    position: absolute;
    top: 50px;
}


.win{
  color:#100f0f;
  font-weight: 900;
}
.dragon{
  position: absolute;
  width: 400px;
  height: 400px;
  right: 100px;
}